

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container-fluid {
	padding: 30px;
}
form {
	margin-bottom: 20px;
}
.form-group {
	visibility: hidden;
}
.active {
	visibility: visible;
}













